<!doctype html>
<html lang="en" ng-app="rectanglifyApp">
<head>
  <meta charset="utf-8">
  <title>Rectanglify</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body ng-controller="RectanglifyCtrl">

  <div id="content" class="panel panel-default">
    <div class="panel-body">
      <div class="text-center">
        <p>
          Rectanglify is a javascript demo app for generating colorful rectangular
          meshes that can be used as SVG images and CSS backgrounds.
        <p>
          Rectanglify is open source software. Check it out on <a href="https://github.com/bbroeksema/rectanglify">Github</a>!
        <p>
          Made by <a href="http://lu.linkedin.com/in/bbroeksema">
          <span>Bertjan Broeksema</span>
          <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png"
               width="20" height="15" alt="View Bertjan Broeksema's LinkedIn profile"
               style="vertical-align:middle" border="0">
          </a>
        <p>
          <button type="button" ng-click="controls.isVisible = !controls.isVisible" class="btn btn-default">
            {{controls.isVisible ? 'Hide controls' : 'Show controls'}}
          </button>
      </div>
      <hr />
      <div collapse="!controls.isVisible">
        <accordion close-others="true">
          <accordion-group heading="Data" is-open="controls.isFirstOpen">
            <div class="form-horizontal">
              <div class="form-group">
                <label for="numberOfElementsInput" class="col-sm-3 control-label"># of elements:</label>
                <div class="col-sm-9">
                  <input id="numberOfElementsInput" class="form-control"
                         type="number" min="0" max="1000"
                         ng-model="config.data.elements"
                         ng-change="generateData()" />
                </div>
              </div>
            </div>
          </accordion-group>
          <accordion-group heading="Algorithm">
            <div class="input-group">
              <span class="input-group-addon">Initial chunk:</span>
              <select class="form-control">
                <option ng-repeat="config in chunkConfigurations">
                  {{config}}
                </option>
              </select>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>

  <script src="../bower_components/d3/d3.js"></script>
  <script src="../bower_components/colorbrewer/colorbrewer.js"></script>
  <script src="../bower_components/d3-treemap/d3.treemap.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>
